@import url("http://fonts.googleapis.com/css?family=Nixie+One|Open+Sans:400,700,300");
/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4; }

*, *:before, *:after {
  box-sizing: border-box; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ff0000;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-family: "Nixie One", sans-serif;
  text-align: center; }

h2 {
  font-size: 2.6em;
  text-transform: uppercase; }

h3 {
  font-size: 1.6em;
  text-transform: uppercase; }

a {
  font-family: "Open Sans", sans-serif; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em; }

.logoReplace a {
  display: block;
  width: 130px;
  height: 100px;
  background-size: contain;
  background-image: url("../images/logoclear.png");
  text-indent: -9999px;
  margin: 0 auto;
  position: absolute;
  top: 10px; }

.intro {
  font-weight: bold; }

.wrapper {
  width: 100%;
  padding: 0 10px; }

.buttonL, .buttonD {
  font-family: "Nixie One", sans-serif;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 1.25em;
  padding: 5px; }

.buttonL {
  border: 1px solid #fff;
  color: #fff; }

.buttonD {
  border: 1px solid #333;
  color: #333; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  /*a[href]:after {
      content: " (" attr(href) ")";
  }  this prints the href after each link on the page. */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.mainHeader {
  background: url("../images/tapsLD.jpg") no-repeat;
  background-size: cover; }
  .mainHeader .darkBackground {
    background-color: rgba(0, 0, 0, 0.5); }
  .mainHeader h1 {
    display: inline-block;
    width: 37%; }
  .mainHeader nav {
    display: inline-block;
    width: 59%;
    margin-bottom: 50px; }
  .mainHeader ul {
    padding: 0;
    list-style: none; }
  .mainHeader li {
    display: inline; }
  .mainHeader a.buttonL {
    display: inline-block;
    width: 100%;
    border-top: none; }
  .mainHeader li:first-child a.buttonL {
    border-top: 1px solid #fff; }
  .mainHeader h2 {
    color: #aea468;
    text-align: center;
    font-size: 2.0em;
    margin-bottom: 5px;
    text-transform: none; }
    .mainHeader h2 span {
      font-size: 1.6em;
      text-transform: uppercase; }
  .mainHeader h3 {
    color: #932a28;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    padding-bottom: 70px;
    font-size: 2.05em;
    margin: 0;
    text-transform: none; }
    .mainHeader h3 span {
      color: #aea468; }

.brews {
  background-image: url(../images/brewsFlight.jpg);
  background-size: cover;
  background-position: 0px 1087px;
  padding-top: 70px; }
  .brews h2 {
    color: #932a28;
    margin-top: 0;
    margin-bottom: 460px;
    text-shadow: 1px 1px 1px #fff; }
  .brews h3 {
    color: #932a28;
    text-shadow: 1px 1px 1px #fff; }
  .brews p {
    margin-bottom: 50px; }
  .brews ul {
    list-style: none;
    padding: 0;
    margin-bottom: 70px; }
  .brews ul > li > ul {
    display: none; }
  .brews a.buttonD {
    display: inline-block;
    width: 100%;
    border-top: none; }
  .brews li:first-child a.buttonD {
    border-top: 1px solid #333; }

.tasting {
  background: url("../images/flightLD.jpg") no-repeat;
  background-size: cover;
  background-position: right; }
  .tasting .darkBackground {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 70px; }
  .tasting h2 {
    color: #aea468; }
  .tasting p {
    color: #fff;
    font-weight: 300; }
  .tasting p.bottom {
    margin-bottom: 50px; }
  .tasting .social {
    margin-bottom: 50px; }
  .tasting h3 {
    color: #aea468; }
  .tasting ul {
    list-style: none;
    padding: 0 0 70px; }
  .tasting .list1 {
    display: inline-block;
    width: 49%;
    vertical-align: top; }
  .tasting .list2 {
    display: inline-block;
    width: 49%; }
  .tasting li {
    padding-bottom: 1em; }
  .tasting a {
    color: #fff;
    font-size: 1.1em; }

.findBeer {
  background-image: url(../images/growlersLight.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -20px; }
  .findBeer h2 {
    color: #932a28;
    text-shadow: 1px 1px 1px #fff;
    margin-top: 0;
    padding-top: 70px; }
  .findBeer form {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
    margin-bottom: 50px; }
    .findBeer form h3 {
      font-size: 1.2em; }
  .findBeer img {
    max-width: 100%; }
  .findBeer .carrier, .findBeer .carrierL {
    float: left;
    width: 47%;
    margin-bottom: 30px; }
    .findBeer .carrier a, .findBeer .carrierL a {
      font-size: .8em;
      color: #333; }
  .findBeer .carrierL {
    margin-right: 5%; }
  .findBeer .buttonD {
    clear: left;
    display: inline-block;
    width: 100%; }

/*# sourceMappingURL=style.css.map */
