.about {
	background-image: url("../images/pullDark.jpg");
	background-size: cover;
	background-position: right;
	padding-top: $marL;
	padding-bottom: $marL;
	h2 {
		color: $gold;
	}

	p{
		color: #fff;
		font-weight: 300;
		margin-bottom: $marL;
	}
	.quote1 {
		@extend %quote;
		background-color: rgba(255,255,255,.2);

	}
	.bolder{
		font-weight: 700;
	}
	.attribution{
		font-size: .8em;
	}
	.bigBold{
		font-weight: 400;
		font-size: 1.25em;
	}
	.beerQuote {
		background-image: url(../images/shield.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		font-size: 2em;
		color: $gold;
		font-family: $font1;
		text-transform: uppercase;
		text-align: center;
		padding-top: $marS;
		padding-bottom: $marL;
		text-shadow: 0px 0px 3px #333;
		.huge{
			font-size: 2em;
			color: $red;
		}
		.red{
			color: $red;
		}
	}
}