.about {
	background-image: url("../images/pullDark.jpg");
	background-size: cover;
	background-position: right;
	padding-top: $marL;
	padding-bottom: $marL;
	h2 {
		color: $gold;
	}

	p{
		color: #fff;
		font-weight: 300;
		margin-bottom: $marL;
		@include bp($small){
			width: 60%;
			display: inline-block;
			vertical-align: top;
		}
	}
	.quote1 {
		@extend %quote;
		background-color: rgba(255,255,255,.2);

		@include bp($small){
			width: 34%;
			display: inline-block;
			margin-left: 5%;
			margin-top: 23px;
		}

	}
	.bolder{
		font-weight: 700;
	}
	.attribution{
		font-size: .8em;
	}
	.bigBold{
		font-weight: 400;
		font-size: 1.25em;
	}
	.beerQuote {
		background-image: url(../images/shield.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		font-size: 2em;
		color: $gold;
		font-family: $font1;
		text-transform: uppercase;
		text-align: center;
		padding-top: $marS;
		padding-bottom: $marL;
		text-shadow: 0px 0px 3px #333;

		@include bp($small){
			margin-top: -600px;
			background-size: 100% 100%;
		}
		@include bp(670px){
			margin-top: -550px;
		}
		@include bp(700px){
			margin-top: -500px;
			background-size: contain;
		}
		@include bp(723px){
			margin-top: -475px;
		}
		@include bp(788px){
			margin-top: -375px;
		}
		.huge{
			font-size: 2em;
			color: $red;
		}
		.red{
			color: $red;
		}
	}
}