.findBeer {
	background-image: url(../images/growlersLight.jpg);
	background-size: cover;
	background-position: top;
	margin-top: -20px;
	padding-bottom: 20px;
	
	h2{
		color: $red;
		text-shadow: 0px 0px 3px #fff;
		margin-top: 0;
		padding-top: $marL;
	}
	h3{
		color: $red;
		margin-top: 0;
		padding-top: 0;
	}
	form{
		
		font-family: $font2;
		font-size: 1.25em;
		margin-bottom: $marM;
		h3{
			font-size: 1.2em;
		}
		input[type=text] {
			background-color: rgba(0, 0, 0, .5);
			border: none;
			height: 1.5em;
			color: #fff;
			margin-left: 10px;
			margin-bottom: 10px;
			padding-left: 10px;
			font-size: 1em;

		}
		#zip{
			width: 100px;
		}
		span.big{
			display: block;
			font-size: 2em;
			margin-bottom: -15px;
		}
		#city {
			width: 200px;
		}
		#state {
			width: 45px;
			margin-bottom: $marS;
		}
		::-webkit-input-placeholder {
		   color: #ddd;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: #fff;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color:#fff;  
		}

		:-ms-input-placeholder {  
		   color: #fff;  
		}
		input[type=submit]{
			background: none;
			max-width: 400px;
			text-shadow: 0px 0px 3px #fff;
		}
	}
	img{
		max-width: 100%;
	}
	.carrier{
		float: left;
		width: 47%;
		margin-bottom: $marS;
		a {
			font-size: .8em;
			color: #333;
		}
	}
	.carrierL {
		@extend .carrier;
		margin-right: 5%;
	}
	.buttonD{
		float: left;
		width: 100%;
		margin-bottom: $marL;
	}
}