.mainFooter{
	background-image: url(../images/map.jpg);
	background-size: cover;
	background-position: center;
	padding-top: $marL;
	p{
		color: #fff;
		font-style: .9em;
		text-align: center;
		font-weight: 300;
	}
	.contact{
		margin-bottom: $marL;
		padding-bottom: $marL;

		@include bp(700px){
			width: 33%;
			float: left;
			padding-bottom: 0;
		}
	}
	.hours{
		padding-bottom: $marM;
		@include bp(700px){
			width: 33%;
			float: right;
			padding-bottom: 0;
		}
	}
	.copyright {
		font-size: .7em;
		padding-bottom: $marS;
		clear: both;
	}
	a{
		color: #ddd;
		

		@include bp($med){
			&:hover{
				color: #fff;
			}
		}
	}
	span.social{
		text-align: center;
		display: inline-block;
		margin-top: 10px;
	}
}