.notFixed .mainHeader ul {
	display: block !important;
}
.mainHeader {
	background: url("../images/tapsLD.jpg") no-repeat;
	background-size: cover;
	.navButton{
		display: none;
	}
	
	.darkBackground {
		background-color: rgba(0, 0, 0, .5);
			@include bp($small){
			padding-bottom: $marL;
		}
	}
	.topBar .wrapper{
		position: relative;
	}
	div.social{
		float: right;
		width: 94px;
		margin: 0;
		padding: 0;

		@include bp(400px){
			
		}
	}
	h1 {
		float: left;
		width: 37%;
		padding: 0;
		margin: 0 0 0 -8px;
		@include bp($small){
			width: 30%;
		}
		@include bp($med){
			width: 16%;
		}
		@include bp(840px){
			width: 20%;
		}
	}
	nav {
		float: right;
		width: 60%;
		clear: right;
		margin-bottom: $marM;
		@include bp($small){
			margin-bottom: $marL;
			width: 72%;
		}
		@include bp($med){
			width: 83%;
			margin-top: 15px;

		}
		@include bp(840px){
			width: 79%;
		}
	}
	ul{
		padding: 0;
		list-style: none;
	}
	li{
		display: inline;

	}
	a.buttonL{
		display: inline-block;
		width: 100%;
		border-top: none;
		margin: 0;

		@include bp($small){
			width: 48%;
			margin-bottom: 10px;
			margin-left: 6px;
			margin-right: 0;
			border-top: 1px solid #fff;
		}
		@include bp($med){
			width: 24.5%;
			margin-left: 0px;
		}
		@include bp(840px){
			font-size: 1em;
		}
	}
	li:first-child a.buttonL {
		border-top: 1px solid #fff;
	}
	.imageReplace1 h2{
		clear: both;
	}
	h2{
		color: $gold;
		text-align: center;
		font-size: 2.0em;
		margin-bottom: 5px;
		text-transform: none;
		span{
			font-size: 1.6em;
			text-transform: uppercase;
		}
	}
	h3{
		color: $red;
		text-align: center;
		text-shadow: 0px 0px 10px #000;
		padding-bottom: $marL;
		font-size: 2.05em;
		margin: 0;
		text-transform: none;
		span{
			color: $gold;
		}
	}


}
.test{
	
    @include fadein(2s)
}

.test2{
	
    @include fadein(2.5s);
}

.test3{
	
    @include fadein(5s);
}


body.fixed {
	.mainHeader{
		margin-top: 301px;
		@include fadein(1s);
		@include bp($small){
			margin-top: 271px;
		}
		@include bp($med){
			margin-top: 231px;
		}
		@include bp(840px){
			margin-top: 228px;

		}
	}	
	header.brewsHeader{
		@include bp($med){
			margin-top: 244px;
		}
		@include bp(840px){
			margin-top: 239px;
		}
	}
	.fixIt {
		position: fixed;
		width: 100%;
		margin: 0;
		top: 0;
		.fixedTopBar{
			background-color: rgba(0,0,0,1);
			margin: 0 -1000px;
			padding: 5px 1000px;
			opacity: 1;
			transition: opacity 2s ease-in;
		}
		.logoReplace a{
			top: -5px;
			width: 120px;
			height: 98px;
		}
		.navButton{
			display: inline-block;
			color: #ddd;
			font-size: 1.2em;
			font-family: $font1;
			position: absolute;
			left: 43%;
			top: 12px;
			@include bp(840px){
				display: none;
			}
		}
		ul{
			background-color: rgba(0,0,0, .8);
			position: absolute;
			top:34px;
			display: none;
			@include bp(840px){
				display: block !important;
				width: 70%;
				top: 6px;
				margin: 0;
				left: 16%;
				opacity: 1;
				transition: opacity 2s ease-in;
			}
			a{
				text-align: left;
				padding-left: 10px;
			}
			a.buttonL{
				@include bp($med){
					width: 48%;
					margin-left: 6px;
				}
				@include bp(840px){
					width: 24%;
					margin-left: 0;
					font-size: 1em;
				}
			}
			
		}
	}
}
