.mainHeader {
	background: url("../images/tapsLD.jpg") no-repeat;
	background-size: cover;
	
	
	.darkBackground {
		background-color: rgba(0, 0, 0, .5);
			@include bp($small){
			padding-bottom: $marL;
		}
	}
	.topBar {
		background-color: #000;
		height: 40px;
	}
	div.social{
		display: block;
		position: absolute;
		right: 15%;
	}
	h1 {
		display: inline-block;
		width: 37%;
		@include bp($med){
			width: 16%;
		}
		@include bp(840px){
			width: 20%;
		}
	}
	nav {
		display: inline-block;
		width: 59%;
		margin-bottom: $marM;
		@include bp($small){
			margin-bottom: $marXL;
		}
		@include bp($med){
			width: 83%;
			margin-top: 15px;

		}
		@include bp(840px){
			width: 79%;
		}
	}
	ul{
		padding: 0;
		list-style: none;
	}
	li{
		display: inline;

	}
	a.buttonL{
		display: inline-block;
		width: 100%;
		border-top: none;

		@include bp($small){
			width: 47%;
			margin-bottom: 10px;
			margin-right: 6px;
			border-top: 1px solid #fff;
		}
		@include bp($med){
			width: 24.5%;
			margin-right: 0px;
		}
	}
	li:first-child a.buttonL {
		border-top: 1px solid #fff;
	}
	h2{
		color: $gold;
		text-align: center;
		font-size: 2.0em;
		margin-bottom: 5px;
		text-transform: none;
		span{
			font-size: 1.6em;
			text-transform: uppercase;
		}
	}
	h3{
		color: $red;
		text-align: center;
		text-shadow: 0px 0px 10px #000;
		padding-bottom: $marL;
		font-size: 2.05em;
		margin: 0;
		text-transform: none;
		span{
			color: $gold;
		}
	}

}
.test{
	
    @include fadein(2s)
}

.test2{
	
    @include fadein(2.5s);
}

.test3{
	
    @include fadein(5s);
}

