.tasting {
	background: url("../images/flightLD.jpg") no-repeat;
	background-size: cover;
	background-position: right;

	.darkBackground {
		background-color: rgba(0, 0, 0, .7);
		padding-top: $marL;
		margin-top: -16px;
	}
	h2{
		color: $gold;
	}
	p{
		color: #fff;
		font-weight: 300;
	}
	p.bottom{
		margin-bottom: $marM;
	}
	.social{
		margin-bottom: $marM;
	}
	h3{
		color: $gold;
	}
	ul{
		list-style: none;
		padding: 0 0 $marL;
	}
	.list1{
		display: inline-block;
		width: 48.5%;
		vertical-align: top;
		margin-right: 1.5%;
	}
	.list2{
		display: inline-block;
		width: 48.5%;

	}
	li{
		padding-bottom: 1em;
	}
	a{
		color: #fff;
		font-size: 1.1em;
	}
	.hours{
		@include bp($small){
			display: inline-block;
			width: 50%;
			margin-right: 3%;
			vertical-align: top;
			h3{
				text-align: left;
			}
		}
	}
	.onTap{
		@include bp($small){
			display: inline-block;
			width: 46%;
			h3{
				text-align: left;
			}
		}
	}
}