.team{
	margin-top: -25px;
	.lightTaps{
		background: url("../images/tapsLD.jpg") no-repeat;
		background-size: cover;
		background-position: right;

		img {
			width: 50%;
			max-width: 200px;
			float: right;
			padding: 5px 0 10px 20px;

			@include bp($small){
				float: left;
				padding: 5px 20px 10px 0;
			}
		}
		.lightBackground{
			background-color: rgba(255,255,255, .7);
			padding-top: $marL;
		}
	}
	
	.lightBackground {
		padding-bottom: 1px;
	}
	h3{
		color: $red;
		margin-bottom: $marM;
		@include bp($small){
			text-align: left;
		}
	}
	p{
		margin-bottom: $marM;
	}
	.quote2, .quote3{
		@extend %quote;
		font-weight: 300;
		background-color: rgba(0,0,0, .2);

		.bolder{
			font-weight: 700;
		}
		.bigBold{
			font-weight: 400;
			font-size: 1.25em;
		}
		.attribution{
			font-size: .7em;
		}
	}
	.quote2 {
		@include bp($small){
			width: 30%;
			float: right;
			margin-left: 5%;
		}
	}
	.quote3{
		@include bp($small){
			width: 60%;
			float: left;
		}
		@include bp($med){
			width: 100%;
		}
	}
	.lightFlight{
		background-image: url(../images/flightLD.jpg);
		background-size: cover;
		background-position: -200px;
		margin-top: -20px;
		@include bp(680px){
			background-position: center;
		}
		.lightBackground{
			background-color: rgba(255,255,255, .6);
		}
		img {
			width: 50%;
			max-width: 200px;
			float: left;
			padding: 5px 20px 10px 0px;
			@include bp($small){
				clear: left;
				margin-top: 30px;
			}
		}
		p.ellisor{
			@include bp($small){
				margin-top: 50px;
			}
			@include bp ($med){
				display: inline-block;
				width: 38%;
				margin-top: 70px;
			}
		}
	}

}