 @import url(http://fonts.googleapis.com/css?family=Nixie+One|Open+Sans:400,700);
 $font1: "Nixie One", sans-serif;
 $font2: "Open Sans", sans-serif;
 $red: #932a28;
 $gold: #aea468;
 $marS: 30px;
 $marM: 50px;
 $marL: 70px;
 $marXL: 100px;
 $marXXL: 140px;